body {
  margin: 0;
}

body {
  font-family: Arial;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  background-color: #333;
  position: sticky;
  width: 100%;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 100%;
  background-color: white;
  padding: 20px;
  background-image: url(Photos/naboo.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.contactform {
  text-align: center;
  font-size: 34px;
  flex-direction: column;
  margin: auto;
}
textarea {
  width: 45%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid rgba(250, 235, 215, 0.321);
  border-radius: 4px;
  background-color: #f8f8f83a;
  resize: none;
}

textarea:focus {
  background-color: #f8f8f8d6;
  transition-duration: 0.8s;
  text-shadow: #9490900c 4px 4px 4px;
}

input {
  border-radius: 4px;
  border-color: rgba(250, 235, 215, 0.342);
  background-color: #f8f8f83a;
  transition-duration: 0.9s;
  text-shadow: #9490900c 4px 4px 4px;
  padding: 5px;
  text-align: left;
}

input:focus {
  background-color: #f8f8f8d6;
}
button {
  width: 220px;
  height: 50px;
  background-color: rgba(250, 235, 215, 0.699);
  background-color: #f8f8f89b;
  border-radius: 10px;
  font-size: 17px;
  border-bottom: antiquewhite;
}
button {
  transition-duration: 0.6s;
}

button:hover {
  background-color: #4c77af6c;
  color: white;

  text-shadow: rgba(36, 38, 39, 0.698) 4px 4px 4px;
}

.BoxContactFrm {
  display: flex;
  margin: 0 auto;
  width: 55vw;
  padding: 20px;
  background: rgba(180, 225, 236, 0.277);
  border: 6px solid #505253;
  border-color: rgb(231, 250, 255);
  border-radius: 18px;
}

.BoxContactFrm {
  animation: blink1 12s;
  animation-iteration-count: infinite;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes blink1 {
  50% {
    border-color: #76afdf;
    box-shadow: 5px#d4ecff;
  }
}
.BoxContactFrm {
  border: 2.5px solid #ccc;
  background-color: #7777774f;
  color: white;
  box-shadow: 5px 5px 8px rgba(145, 168, 208, 0.077),
    10px 10px 8px rgba(145, 168, 208, 0.055),
    15px 15px 8px rgba(145, 168, 208, 0.096);
  border-radius: 2%;
  top: auto;
}

select {
  width: 220px;
  height: 50px;
  background-color: #f8f8f83a;
  border-color: #4c77af6c;
  border-radius: 10px;
  font-size: 17px;
  text-align: center;
  transition-duration: 0.6s;
  text-shadow: #9490900c 4px 4px 4px;
}

select:focus {
  background-color: #f8f8f8d6;
}

.stayintouch {
  font-size: 34px;
  font-family: Garamond;
  color: antiquewhite;
  margin-top: 30px;
  margin-bottom: 65px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .row,
  .box3,
  .navbar {
    flex-direction: column;
    overflow-x: hidden;
  }
  .row {
    display: flex;
  }
  body {
    overflow-x: hidden;
    width: 200%;
  }
}
