body {
  font-family: Arial;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  background-color: #333;
  position: sticky;
  width: 100%;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 15%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* .fakeimg {
  background-image: url(Photos/StarWarsSaga.jpg);
  width: 100%;
  background-size: 100% 100%;
  padding: 20px;
} */

.GeorgeBox {
  height: 16vh;
  width: 100%;
}

.george-logo {
  background-image: url(Photos/star-wars-logo-with-george.jpg);
  height: 16vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.SagaBox {
  width: 100%;
}

.SAGA {
  background-image: url(Photos/StarWarsSaga.jpg);
  height: 60vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.LftSide1Box {
  height: 16vh;
}

.LftSideImageTop {
  background-image: url(Photos/yoda.jpg);
  width: 100%;
  height: 12vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.LftSide2Box {
  height: 16vh;
}

.LftSideImagecenter {
  background-image: url(Photos/Falcun.jpg);
  height: 12vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.LftSide3Box {
  height: 16vh;
}
.LftSideImagebottom {
  background-image: url(Photos/StarDestroyer.jpg);
  height: 18vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.splitBox {
  width: 100%;
}
.split {
  background-image: url(Photos/third\ gen\ trup.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
  background-position: center;
}

@media screen and (max-width: 800px) {
  .row,
  .navbar {
    flex-direction: column;
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
}
