body {
  font-family: Arial;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;

  background-color: black;
}

.headerBox {
  height: 16vh;
  width: 100vw;
}
.header {
  padding: 60px;
  text-align: center;
  background-image: url(Photos/AllCharacters.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 61.25vh;
}

.BoxOfMovies {
  background-image: url(Photos/StarFighter.jpg);
  background-position: center;
  background-size: 110% 100%;
  margin-top: -1.7%;
  background-repeat: no-repeat;
}

h2 {
  color: white;
  padding-top: 2%;
  text-align: center;
  font-size: 2em;
  border-color: #d4ecff;
  text-shadow: 1px 1px 1px#d4ecff, 1px 1px 5px #d4ecff, 1px 1px 1px #d4ecff;
}

.Item {
  animation: blink1 12s;
  animation-iteration-count: infinite;
}

@keyframes blink1 {
  50% {
    border-color: #d4ecff;
    box-shadow: 1px 1px 1px#d4ecff, 1px 1px 5px #d4ecff, 1px 1px 1px #d4ecff;
  }
}
.Item {
  border: 1px solid #ccc;
  background-color: #7777774f;
  color: white;
  box-shadow: 5px 5px 8px rgba(145, 168, 208, 0.077),
    10px 10px 8px rgba(145, 168, 208, 0.071),
    15px 15px 8px rgba(145, 168, 208, 0.027);
  border-radius: 2%;
  margin: 5%;
  top: auto;
  padding-bottom: 5%;
}

.Item:hover {
  border: 1px solid #777;
  background-color: #dddddd8f;
  transition: 1s;
}

.Item img {
  width: 100%;
  height: 45vh;
}

.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.ItemsGrid {
  padding: 0 10px;
  padding-bottom: 10px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .ItemsGrid {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 520px) {
  .ItemsGrid {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background-image: url(Photos/footer.jpg);
  background-size: cover;
  width: 100vw;
  height: 33vh;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

@media screen and (max-width: 800px) {
  .row,
  .navbar {
    flex-direction: column;
  }
  body {
    overflow-x: hidden;
  }
}
